.canvas-wrapper
	display inline-block
	position relative
	// height 110%
	// top -10%

	#bhakti
		aspect-ratio 4/3
		height 100%
		pointer-events none
		display block
		margin auto

	.resume-wrapper
		position absolute
		top 0
		left 0
		width 50%
		transform translate(-150%,-100%)
		display block
		// border 1px solid red

	#resume
		width 100%

	#books
		position absolute
		bottom 0
		right 0
		transform translate(130%,-70%)
		display block
		width 50%

	#plants
		position absolute
		bottom 0
		left 0
		transform translate(-150%,0)
		display block
		width 37.5%

	+below(800px, true)
		height auto
		top 0
		margin-top auto

		#bhakti
			height auto
			width 100%

		.resume-wrapper, #books
			display none
