.canvas-wrapper
	display inline-block
	position relative
	// height 120%
	// top -20%

	#bhakti
		aspect-ratio 4/3
		height 100%
		pointer-events none
		display block
		margin auto

	.resume-wrapper
		position absolute
		top 0
		left 0
		width 35%
		transform translate(-200%,-120%)

	#resume
		display block
		width 100%

	#books
		position absolute
		bottom 0
		right 0
		transform translate(130%,-60%)
		display block
		width 50%
		// width 50%

	+below(800px, true)
		height auto
		top 0
		margin-top auto

		#bhakti
			height auto
			width 100%

		.resume-wrapper
			transform translate(0%, -10%)
