@keyframes squiggly-anim
  0%
    filter url('#squiggly-0')
  
  25%
    filter url('#squiggly-1')
  
  50%
    filter url('#squiggly-2')
  
  75%
    filter url('#squiggly-3')
  
  100%
    filter url('#squiggly-4')

@keyframes squiggly-new
  0%
    filter url('#squiggly-0')
  50%
    filter url('#squiggly-2')
  100%
    filter url('#squiggly-4')

.svg-filter
	position fixed
	top 0
	left 0

.canvas-wrapper
	display inline-block
	position relative
	top 1px
	// filter url('#squiggly-0')
	// -webkit-filter url('#squiggly-0')
	// -moz-filter url('#squiggly-0')
	animation squiggly-anim 0.34s ease infinite
	// transform: translate3d(0, 0, 0);

	// canvas
	// 	transform: translate3d(0, 0, 0);
	// 	shape-rendering: optimizeSpeed;

	#bhakti
		aspect-ratio 4/3
		height 100%
		pointer-events none
		display block
		margin auto

	.resume-wrapper
		position absolute
		top 0
		left 0
		width 50%
		transform translate(-150%,-100%)
		display block

	.resume-link
		position absolute
		top 31%
		bottom 27%
		left 19%
		right 19%
		transition .3s transform cubic-bezier(.34, 2.14, .64, 1)
		&:hover
			transition .3s transform ease
			transform translateY(-6%)

	#resume
		width 100%
		pointer-events none

	#books
		position absolute
		bottom 0
		right 0
		transform translate(130%,-70%)
		display block
		width 50%

	#plants
		position absolute
		bottom 0
		left 0
		transform translate(-150%,0)
		display block
		width 37.5%

	+below(800px, true)
		height auto
		top 0
		margin-top auto

		#bhakti
			height auto
			width 100%

		.resume-wrapper, #books
			display none
