.container
	max-width 1260px
	margin-left auto
	margin-right auto
	padding-left 30px
	padding-right 30px

.container-fluid
	padding-left 50px
	padding-right 50px

+below(md)
	.container-fluid, .container
		padding-left 25px
		padding-right 25px
