body.no-cursor
	cursor none
	.cursor
		display block
	a
		cursor none

.is-pointer
	> *
		pointer-events none

.cursor
	display none
	z-index 50
	position fixed
	top 0
	left 0
	width 50px
	pointer-events none

	svg
		width 100%
		display block
	#pointer
		opacity 0
	#boop
		opacity 0

	&.is-pointer
		#pointer
			opacity 1
		#arrow
			opacity 0

	&.is-dark
		#arrow,
		#pointer path
			fill black
			stroke white

	// responsive
	+below(md)
		display none
