body
	transition .3s background ease
	background var(--peach)
	font-family var(--font-body)
	font-weight 300
	position fixed
	top 0
	left 0
	width 100%
	overflow hidden // disable scroll on safari
	fixVH()

main
	display flex
	flex-wrap wrap
	fixVH()

	.sections-wrapper
		width 100%
		height 50%
		padding-top var(--header-height-desktop)

	.canvas-wrapper
		width 100%
		height 50%
		display flex

	#main-canvas
		height 100%
		margin auto auto 0
		max-width 100%
		display block

	+below(550px, true)
		#main-canvas
			height auto
			width 100%

.button
	border 2px solid black
	transition .3s all var(--ease-quart)
	position relative
	&:hover
		translate -3px -3px
		box-shadow 3px 3px 0 0 black

.is-hidden
	display none
