body
	color black
	transition .3s background ease
	// background linear-gradient(to top, var(--peach), var(--peach-light))
	background var(--peach)
	font-family var(--font-body)
	font-weight 300
	position fixed
	letter-spacing -.75px
	top 0
	left 0
	width 100%
	overflow hidden // disable scroll on safari
	fixVH()

main
	fixVH()
	position relative
	display grid
	grid-auto-rows 100px auto 50%

	.sections-wrapper
		width 100%

	.canvas-wrapper-wrapper
		text-align center
		width 100%

	+below(800px, true)
		grid-auto-rows 100px auto auto
		.canvas-wrapper-wrapper
			display grid

.button
	border 2px solid black
	transition .3s all var(--ease-quart)
	position relative
	display inline-block
	background white
	border-radius 30px
	padding 14.5px 30px
	font-size 18px
	&:hover
		translate -3px -3px
		box-shadow 3px 3px 0 0 black

.is-hidden
	display none
