#header
	position fixed
	top 0
	left 0
	width 100%

.header-logo
	font-size 22px
	color black
	text-decoration none
	font-weight 400

.header-inner
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items center
	height var(--header-height-desktop)
	position relative

.header-nav
	padding 20px
	li:not(:last-child)
		margin-bottom 5px
	a
		display block
		background #eee
		padding 12px 15px
		border-radius 10px
		text-decoration none
		color black

.header-buttons
	display grid
	grid-template-columns 1fr 1fr
	grid-gap 12px

.header-button
	border-radius 28px
	width 50px
	height 50px
	display block
	box-sizing content-box
	border 2px solid black
	transition .3s all var(--ease-quart)
	position relative
	background rgba(255,255,255,.5)
	&:hover
		background rgba(255,255,255,.75)
		translate -3px -3px
		box-shadow 3px 3px 0 0 black

	svg
		display block

.burger-menu-wrapper
	position relative
	// position absolute
	// top 50%
	// margin-top -25px
	// background white
	transition .3s all var(--ease-quart)
	right 0
	overflow hidden

	&.is-active
		border-radius 25px
		box-shadow 4px 4px 0 0 black
		width 250px
		height 300px
		.burger-menu
			background var(--red)
			transform scale(.5)
		.bar
			&:first-child
				transform rotate(45deg) translate(3px, -3px)
			&:nth-child(2)
				opacity 0
			&:last-child
				transform rotate(-45deg) translate(5px, -5px)

.burger-menu
	margin-left auto
	display flex
	flex-wrap wrap
	align-items center
	justify-content center
	width 50px
	height 50px
	border-radius 50%
	padding 14px
	box-sizing border-box
	cursor pointer
	transition .3s all var(--ease-quart)
	.bar
		width 100%
		height 3px
		border-radius 5px
		background black
		transition .3s all var(--ease-quart)
		&:first-child
			transform-origin top left
