#intro
	text-align center
	fixVH()

	.content-wrapper
		fixVH()
		display flex
		flex-wrap wrap
		> *
			width 100%

	.content
		padding-top var(--header-height-desktop)
		margin-top auto

	.intro-title
		font-size 90px
		font-weight 600
		font-family var(--font-display)
		text-transform uppercase
		line-height 1.2
		letter-spacing 2px
		margin-bottom 20px
		// -webkit-text-fill-color: white; /* Will override color (regardless of order) */
		// -webkit-text-stroke-color: black;

	.intro-description
		font-size 26px
		line-height 1.4
		color #555

	.canvas-wrapper
		margin-top auto

	#main-canvas
		width 40%
		max-width 100%
		display block
		margin auto

	// responsive
	+below(md)
		#main-canvas
			width 100%	
		.intro-title
			font-size 60px
			margin-bottom 20px
			letter-spacing inherit
		.intro-description
			font-size 26px
