body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

#intro
	text-align center

	.content-wrapper
		padding-top var(--header-height-desktop)
		height 100vh
		display flex
		flex-wrap wrap
		> *
			width 100%

	.content
		margin-top auto

	.intro-title
		font-size 70px
		margin-bottom 10px
	.intro-description
		font-size 26px
		line-height 1.25

	.canvas-wrapper
		margin-top auto
	#main-canvas
		width 45%
		max-width 100%
		display block
		margin auto

	// responsive
	+below(md)

		#main-canvas
			width 100%	

		.intro-title
			font-size 50px
			margin-bottom 20px
		.intro-description
			font-size 26px
