.section-title
	font-family var(--font-display)
	font-size 60px
	margin-bottom 20px
	text-transform uppercase

.section-description
	font-size 24px
	margin auto
	line-height 1.4
	opacity .65
	p:not(:last-child)
		margin-bottom 15px
