section
	height 100%
	text-align center
	display grid

.section-title
	font-family var(--font-display)
	font-size 60px
	margin-bottom 10px
	text-transform uppercase

.section-description
	font-size 24px
	margin auto
	line-height 1.5
	opacity .65
	p:not(:last-child)
		margin-bottom 15px

// indicator
.sections-indicator
	position absolute
	bottom 40px
	left 50px

.section-indicator
	text-transform uppercase
	letter-spacing 2px
	font-size 14px
	font-weight 700
	transition .3s all ease
	&:not(.is-active)
		opacity .25
		pointer-events none
	&:not(:last-child)
		margin-bottom 8px

+below(md)
	.section-title
		font-size 50px
		display none
	.section-description
		font-size 20px
	.sections-indicator
		display none
