:root
	--peach #FFEBE7
	--red #FF605C
	--font-body 'Roboto Condensed', sans-serif
	--font-display 'Anton', sans-serif

	--header-height-desktop 100px

	--ease-quart cubic-bezier(0.76, 0, 0.24, 1)
	--ease-expo cubic-bezier(0.87, 0, 0.13, 1)
