:root
	--peach-light #FFEBE7
	--peach #e7c2bb
	--purple #90a8ed
	--red #FF605C
	--font-body 'DM Sans', sans-serif
	--font-display 'Anton', sans-serif

	--header-height-desktop 100px
	--header-height-mobile 80px

	--ease-quart cubic-bezier(0.76, 0, 0.24, 1)
	--ease-expo cubic-bezier(0.87, 0, 0.13, 1)

black = #391a14
