svg(viewbox='0 0 60 60')
  g#Page-1(fill='none' fill-rule='evenodd' stroke='none' stroke-width='1')
    g#Cursor(transform='translate(-260 -139)')
      g#cursor(transform='translate(260 139)')
        g#boop(stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(5.3413 5.365)')
          path#Path-21(d='M10.5172 4V0')
          path#Path-21(d='m4.0084 5.8138-.0559-3.6496' transform='rotate(135.85 3.9804 3.989)')
          path#Path-21(d='M3.435 11.9107.565 9.1246' transform='rotate(135.85 2 10.5177)')
          path#Path-21(d='m5.7505 16.9844-3.6444.2015' transform='rotate(138.16 3.9283 17.0851)')
          path#Path-21(d='m15.7699 5.3201 2.4991-2.6602' transform='rotate(2 17.0195 3.99)')
        path#arrow(fill='#FFF' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m15.9049 15.8839 7.9152 26.1186 5.2161-7.6702 7.8549 7.8549 5.231-5.2665-7.8503-7.824 7.9455-5.4914z')
        g#pointer(fill='#FFF' stroke='#000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='rotate(-45 35.4577 4.0292)')
          path#Path-22(d='M15.532 10.3243V8.8301c0-1.3424 1.0882-2.4305 2.4305-2.4305h.4305c1.1046 0 2 .8954 2 2v2.679h0')
          path#Path-23(d='M25.6042 11.3915h.9856c1.6569 0 3 1.3431 3 3v7.3795c0 3.866-3.134 7-7 7h-6.5061a8 8 0 0 1-5.6222-2.3087L1.851 17.9564c-1.0254-1.013-1.044-2.6627-.0419-3.6986 1.008-1.042 2.6615-1.0949 3.734-.1194l5.1405 4.6754h0l.003-9.5833')
          path#Path-22(d='M10.6836 18.8138V2.4305C10.6836 1.0882 11.7718 0 13.1141 0h.4283c1.1046 0 2 .8954 2 2v.0023l-.0104 9.1398h0M20.402 12.3243v-1.4942c0-1.3424 1.0882-2.4305 2.4305-2.4305h.4305c1.1046 0 2 .8954 2 2v2.679h0')
