html(lang="en")

	head
		title #{name}
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="./../css/styles.styl")
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

	body.no-curso

		.cursor.is-dark
			include components/cursor

		header#header
			.container
				.header-nav
					a.header-logo(href="#") Pasaribu.dev
					.header-burger.is-pointer
						include components/burger

		section#intro
			.content-wrapper
				.content
					.container
						.intro-title #{name}
						.intro-description I'm a Creative Developer and
							| <br>Motion Designer from Indonesia
				.canvas-wrapper
					canvas#main-canvas(width="750" height="500")

		script(type="module", src="./../js/app.js")
