html(lang="en")

	head
		title #{name}
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="./../css/styles.styl")
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

	body.no-cursor

		.svg-filter
			include native/squiggly

		include components/icons

		// .overlay
		// 	.text Loading...

		.cursor.is-dar(style="visibility: hidden")
			include components/cursor

		.canvas-wrapper
			canvas#bhakti(width="800" height="600")
			.resume-wrapper
				a.resume-link.is-pointer(href="#resume")
				canvas#resume(width="400" height="400")
			canvas#books(width="500" height="500")
			canvas#plants(width="300" height="550")
			canvas#light(width="400" height="500")

		main#app

			.sections-indicator
				.section-indicator.is-pointer.is-active intro
				.section-indicator.is-pointer about
				.section-indicator.is-pointer work
				.section-indicator.is-pointer contact

			header#header
				.container-fluid
					.header-inner
						a.header-logo(href="#") Pasaribu.xyz
						.header-buttons
							.customize-button.header-button.is-pointer
								svg(viewBox="0 0 50 50")
									use(href="#customize")
							.burger-menu-wrapper.header-button
								.burger-menu.is-pointer
									.bar
									.bar
									.bar
								ul.header-nav
									li
										a(href="") About
									li
										a(href="") Work
									li
										a(href="") Contact

			.sections-wrapper
				section#intro.is-hidde
					.container
						.content
							.intro-title #{name}
							.intro-description Creative Developer and Motion<br>Designer from Indonesia
				section#about.is-hidden
					.container
						.content
							.section-title who am i?
							.section-description
								p
									| I'm a creative developer who loves to animate.<br>
									| I combine code and motion into interactive experiences.
								// p My stack: CSS, JS, SVG, GSAP, WordPress, Figma, and Rive
							.button-wrapper.is-hidden
								.button.is-pointer Download Resume

		script(type="module", src="./../js/app.js")
