html(lang="en")

	head
		title #{name}
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="./../css/styles.styl")
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">

	body.no-cursor

		include components/icons

		.cursor.is-dar(style="visibility: hidden")
			include components/cursor

		main#app
			header#header
				.container-fluid
					.header-inner
						a.header-logo(href="#") Pasaribu.dev
						.header-buttons
							.customize-button.header-button.is-pointer
								svg(viewBox="0 0 50 50")
									use(href="#customize")
							.burger-menu-wrapper.header-button
								.burger-menu.is-pointer
									.bar
									.bar
									.bar
								ul.header-nav
									li
										a(href="") About
									li
										a(href="") Work
									li
										a(href="") Contact

			.sections-wrapper
				section#intro.is-hidde
					.container
						.content
							.intro-title #{name}
							p.intro-description I'm a Creative Developer and
								| <br>Motion Designer from Indonesia
				section#about.is-hidden
					.container
						.content
							.section-title who am i?
							.section-description
								p
									| I'm a front-end creative developer with extensive motion design skills.<br>
									| My current stack: CSS, JS, GSAP, Three.js, Rive, Figma, Blender
							.button-wrapper
								.button.is-pointer Download Resume

			.canvas-wrapper
				canvas#main-canvas(width="1440" height="500")

		script(type="module", src="./../js/app.js")
