@import './native/reset.css'

@import './components/variables'
@import './components/container'
@import './components/header'
@import './components/home'

body
	background var(--peach)
	position fixed
	top 0
	left 0
	width 100%
